<hello>222</hello>
<hello></hello>
<hello></hello>
<hello></hello>
<br/>
<!-- <input type="text" ng-model="ctrlFlavor"/>
<drink flavor="{{ctrlFlavor}}"></drink>
 -->
<!-- ctrl:
<input type="text" ng-model="testname">
<br> directive:
<xingoo name="testname"></xingoo>
 -->
<!-- <greeting greet="sayHello(name)"></greeting>
<greeting greet="sayHello(name)"></greeting>
<greeting greet="sayHello(name)"></greeting>
 -->
<greet say="sayHello(name)"></greet>
<greet say="sayNo(name)"></greet>
<greet say="sayYes(name)"></greet>
