@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0;}
header input{
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	z-index: 100;
	position: relative;
}
body{
	height: 100%;
	width: 100%;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	background-color: orange;
}

header{
	width: 100%;
	height: 60px;
}
.layout-header{
	position: absolute;
	top:0;
	left: 0;
	border-bottom: 1px solid #ccc;
	width: 100%;
	height: 60px;
	background-color: #fcfcfc;
}
.page-width{
	margin: 0 auto;
	width: 1190px;
	height: 61px;
	padding:0 0 0 205px;
	font-size: 12px;
	position: relative;
}
.logo{
	position: absolute;
	top: 0;
	left: 0;
}
.tianqi{
	line-height: 60px;
}

nav{
	margin:0 auto;
	width: 1190px;
	background: yellow;

}
nav .menus{
	margin-bottom: 10px;
	border-top: 2px solid #099e6a;
	background: #fcfcfc;
	margin: 0 auto;
}
nav .menus li{
	display: inline-block;
	width: 114px;
	text-align:center;
	font-size: 20px;
}
nav .menus_1{
	margin-bottom: 10px;
	border:solid 1px #ade0c1;
	background: #fcfcfc;
	margin: 0 auto;
}
nav .menus_1 li{
	display: inline-block;
	width: 93px;
	text-align:center;
	font-size:16px;
}
div{
	margin:0 auto;
	width: 1190px;
}
.layout-side{
	float: left;
	width: 280px;
	background: #fcfcfc;
}
.bd{
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #fff;
	padding: 9px 0 0 18px;
}
.bd ul li{
	width: 128px;
	display: inline-block;
}

nav .menus {
	background-color: orange;
}
nav .menus_1 {
	background-color: orange;
}