*{
	margin:0;
	padding: 0;

}
.header{
	background: orange;
	height: 150px;
}
.atricle{
	background: green;
	height: 300px;
	overflow: hidden;
/*	padding-left: 150px;
	padding-right: 100px;*/
}
.footer{
	background: yellow;
	height: 150px;
}
.atricle .left{
	background: blue;
	float: left;
	color: white;
	/*height: 16px;*/
	margin-bottom: -9999px;
	padding-bottom: 9999px;
	width: 150px;
	margin-left:-100%;
/*	position: relative;
	left: -150px;*/
}
.atricle .right{
	background: aquamarine;
	float: left;
	width: 100px;
	height: 16px;
	margin-left: -100px;
/*	position: relative;
	left: 100px;*/
}
.atricle .middle{
	background: brown;
	float: left;
	width: 100%;
}
.inner{
	margin-left:150px;
	margin-right: 100px;
}