* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.con {
    position: absolute;
    top: 200px;
    left: 200px;
    /*right: 50%;
        bottom: 50%;*/
}


/*头部*/

.head {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: white;
    /*border-radius: 50%;*/
    border: 3px solid black;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    /*border-bottom: transparent;*/
}


/*左眼*/

.eye_1 {
    width: 50px;
    height: 75px;
    background-color: black;
    /*border-radius: 50%;*/
    border: 3px solid black;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    /*border-bottom: transparent;*/
    position: absolute;
    margin-left: 70px;
    margin-top: 60px;
}


/*左眼白*/

.eye_1_1 {
    width: 25px;
    height: 25px;
    background-color: white;
    border-top-left-radius: 69%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 70%;
    position: absolute;
    margin-left: 3px;
    margin-top: 5px;
}


/*右眼*/

.eye_2 {
    width: 50px;
    height: 75px;
    background-color: black;
    /*border-radius: 50%;*/
    border: 3px solid black;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    /*border-bottom: transparent;*/
    position: absolute;
    margin-left: 170px;
    margin-top: 60px;
}


/*右眼白*/

.eye_2_1 {
    width: 25px;
    height: 25px;
    background-color: white;
    border-top-left-radius: 69%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 70%;
    position: absolute;
    margin-left: 5px;
    margin-top: 10px;
}


/*腿*/

.foot_1 {
    position: absolute;
    width: 150px;
    height: 70px;
    background: transparent;
    border: 3px solid black;
    margin-left: -89px;
    margin-top: 210px;
    border-top-left-radius: 39%;
    border-top-right-radius: 27%;
    border-bottom-left-radius: 92%;
    border-bottom-right-radius: 58%;
    z-index: -1;
}

.foot_2 {
    position: absolute;
    width: 150px;
    height: 70px;
    background: transparent;
    border: 3px solid black;
    margin-left: -45px;
    margin-top: 301px;
    border-top-left-radius: 39%;
    border-top-right-radius: 48%;
    border-bottom-left-radius: 95%;
    border-bottom-right-radius: 64%;
    transform: rotate(-42deg);
    z-index: -1;
}

.foot_3 {
    position: absolute;
    width: 150px;
    height: 70px;
    background: transparent;
    border: 3px solid black;
    margin-left: 62px;
    margin-top: 315px;
    border-top-left-radius: 39%;
    border-top-right-radius: 48%;
    border-bottom-left-radius: 95%;
    border-bottom-right-radius: 64%;
    transform: rotate(-85deg);
    z-index: -1;
}

.foot_4 {
    position: absolute;
    width: 150px;
    height: 70px;
    background: transparent;
    border: 3px solid black;
    margin-left: 180px;
    margin-top: 292px;
    border-top-left-radius: 39%;
    border-top-right-radius: 48%;
    border-bottom-left-radius: 95%;
    border-bottom-right-radius: 64%;
    transform: rotate(-117deg);
    z-index: -1;
}

.foot_5 {
    position: absolute;
    width: 150px;
    height: 70px;
    background: transparent;
    border: 3px solid black;
    margin-left: 255px;
    margin-top: 203px;
    border-top-left-radius: 39%;
    border-top-right-radius: 48%;
    border-bottom-left-radius: 95%;
    border-bottom-right-radius: 64%;
    transform: rotate(-179deg);
    z-index: -1;
}


/*脸颊*/

.cheek_1 {
    width: 35px;
    height: 20px;
    background-color: grey;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    margin-left: 61px;
    margin-top: 149px;
}

.cheek_2 {
    width: 35px;
    height: 20px;
    background-color: grey;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    margin-left: 194px;
    margin-top: 149px;
}


/*嘴*/

.mouth {
    width: 89px;
    height: 66px;
    border: 3px solid black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    margin-left: 100px;
    margin-top: 138px;
}


/*动画*/

.canvas {
    -webkit-backface-visibility: visible;
    -webkit-transform-origin: center center;
    -webkit-animation: demo 3s 0s infinite ease normal none;
    -moz-backface-visibility: visible;
    -moz-transform-origin: center center;
    -moz-animation: demo 3s 0s infinite ease normal none;
}

@-webkit-keyframes demo {
    0% {
        -webkit-transform: translateX(0px);
    }
    25% {
        -webkit-transform: translateX(5px)translateY(5px);
    }
    50% {
        -webkit-transform: translateX(10px)translateY(10px);
    }
    75% {
        -webkit-transform: translateX(5px)translateY(5px);
    }
    100% {
        -webkit-transform: translateX(0px)translateY(0px);
    }
}

@-moz-keyframes demo {
    0% {
        -moz-transform: translateX(0px);
    }
    25% {
        -moz-transform: translateX(5px)translateY(5px);
    }
    50% {
        -moz-transform: translateX(10px)translateY(10px);
    }
    75% {
        -moz-transform: translateX(5px)translateY(5px);
    }
    100% {
        -moz-transform: translateX(0px)translateY(0px);
    }
}
