/*设置主页背景*/
body {
    background: url(../img/login-bg-8.jpg)no-repeat center center fixed;
    background-size: 100% 100%;
}

/*设置登陆界面*/
.login-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin:auto;
    width: 450px;
    height: 330px;
    background: rgba(255, 255, 255, 0.407843);
    border-radius: 10px;
    color: aliceblue;
}

.login-box .login-header {
    height: 60px;
    border-bottom: 1px solid aliceblue;
}

/*头部文字*/
.login-box .login-header h1 {
    text-align: center;
    font-size: 25px;
    line-height: 60px;
}

.login-box .login-main {
    height: 185px;
}

.login-box .login-main form {
   width: 400px;
   margin:0 auto;
}

.login-box .login-main form .control-group .btn {
    margin-left: 150px;
}
.form-group{
    margin:28px 0 26px 65px;
}
.form-group label{
    width: 50px;
    height: 20px;
}

.btn-default{
    margin-top:30px;
    margin-left: 64px;
    width: 264px;
}

