
    * {
        margin: 0;
        padding: 0;
    }
    
    .xiezi {
        width: 100px;
        height: 100px;
        background-color: orange;
    }
    
    .xiehe {
    	box-shadow: 5px 5px 5px 10px rgba(0,0,0,.6);
    	margin: 100px;
        padding: 10px;
        width: 100px;
        height: 100px;
        background-color: green;
        border: 5px solid red;
    }

     .xiezi1 {
        width: 100px;
        height: 100px;
        background-color: orange;
    }
    
    .xiehe1 {
        box-shadow: 5px 5px 5px 10px rgba(0,0,0,.6);
    	margin: 50px;
    	margin-left: 100px;
        padding: 10px;
        width: 130px;
        height: 130px;
        background-color: green;
        border: 5px solid red;
        box-sizing: border-box;
    }
 