.con{
	display: -webkit-flex;
	width: 600px;
	background-color: green;	
}
.first{
	-webkit-order:2;
	height: 100px;
	-webkit-flex:1;
	background-color: orange;
}
#second{
	-webkit-order:3;
	height: 100px;
	-webkit-flex:1;
	background-color: aquamarine;
}
#three{
	-webkit-order:1;
	height: 200px;
	-webkit-flex:1;
	background-color: #E3FF7F;
}
.con1{
	display: -webkit-flex;
	width: 600px;
	background-color: green;
	flex-direction: column;

}

/*-webkit-box-orient:horizontal;
-webkit-box-pack:center;
-webkit-box-align:center;
*/